churnguard-retention-engine/n8n/ChurnGuard-Retention-Pipeline.json
{
  "name": "ChurnGuard-Retention-Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "churnguard-trigger",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -544,
        -48
      ],
      "id": "c2d02e48-065a-43b2-9911-5417aaa26ad3",
      "name": "Webhook",
      "webhookId": "d39d5366-a6ac-44dc-9bbd-6487fe08d54b"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/api/v1/invoke",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -336,
        -48
      ],
      "id": "a5d6f783-58de-4b29-b661-261c9e570e9f",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#churnguard",
          "mode": "name"
        },
        "messageType": "block",
        "blocksUi": "=[\n  {\n    \"type\": \"header\",\n    \"text\": {\n      \"type\": \"plain_text\",\n      \"text\": \"🚨 CHURNGUARD: HIGH-RISK CHURN ALERT\",\n      \"emoji\": true\n    }\n  },\n  {\n    \"type\": \"section\",\n    \"text\": {\n      \"type\": \"mrkdwn\",\n      \"text\": \"*ஒரு முக்கிய வாடிக்கையாளர் வெளியேறும் (Churn) அபாயத்தில் உள்ளார்.* தயவுசெய்து கீழே உள்ள தகவலைச் சரிபார்த்து நடவடிக்கை எடுக்கவும்.\"\n    }\n  },\n  {\n    \"type\": \"divider\"\n  },\n  {\n    \"type\": \"section\",\n    \"fields\": [\n      {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*🏢 Account ID:*\\n`{{ $json.account_id }}`\"\n      },\n      {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*💰 ARR Context:*\\n${{ $json.arr_context }}\"\n      },\n      {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*🛡️ Policy Guardrail Check:*\\n{{ $json.policy_passed ? '🟢 Passed' : '🔴 Failed' }}\"\n      },\n      {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*📈 Risk Level:*\\n`CRITICAL`\"\n      }\n    ]\n  },\n  {\n    \"type\": \"divider\"\n  },\n  {\n    \"type\": \"section\",\n    \"text\": {\n      \"type\": \"mrkdwn\",\n      \"text\": \"*🤖 GPT-4o Drafted AI Retention Offer:*\\n>>>{{ $json.drafted_offer }}\"\n    }\n  },\n  {\n    \"type\": \"divider\"\n  },\n  {\n    \"type\": \"context\",\n    \"elements\": [\n      {\n        \"type\": \"mrkdwn\",\n        \"text\": \"🔑 *Security Verification ID (Thread ID):* `{{ $json.thread_id }}`\"\n      }\n    ]\n  }\n]",
        "text": "=🚨 ChurnGuard Alert: High-risk account {{ $json.account_id }} needs immediate retention review!",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [
        -144,
        -48
      ],
      "id": "651c9f75-9eda-4aaf-99b0-c4f73268041a",
      "name": "Send a message",
      "webhookId": "27011305-692e-45e8-8b2d-b85fb5f9b55d",
      "credentials": {
        "slackApi": {
          "id": "wlLMJOEqCwnpRarj",
          "name": "Slack account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "0053e165-6f38-4bf1-8fc5-7b3c34d745af",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "279aba930ff15c346f6b5d354786dbbdfc3ccef014adc8ccec5285116eb01334"
  },
  "nodeGroups": [],
  "id": "xujE6cAKG6hZhC7v",
  "tags": []
}